.currencyTab {
    width: 100%;
    padding: 20px;
}

.title {
    font-size: 30px;
    font-weight: 400;
    color: #FBFBFB;
    margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
    .currencyTab {
        padding: 15px;
    }

    .title {
        font-size: 24px;
    }
}