.chartWrapper {
    position: relative;
    width: 280px;
    height: 280px;
    margin: 0 auto;
}

.chartCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color:  #ffffff;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease;
    animation: fadeInCenter 0.4s ease-in-out;
}

.chartCenter span {
    display: block;
    animation: fadeIn 0.4s ease;
}

.emptyText {
    font-weight: 600;
    font-size: 14px;
    opacity: 0.8;
    transition: opacity 0.3s;
}




@media (min-width: 768px) {
    .chartWrapper {
        width: 336px;
        height: 336px;
    }
}

@media (min-width: 1280px) {
    .chartWrapper {
        width: 288px;
        height: 288px;
    }
}