@import "../AddTransactionForm/AddTransactionForm.module.css";

.toggleContainer {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
}

.toggleWrapper {
  width: 258px;
  height: 44px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggleOption {
  display: flex;
  align-items: center;
  cursor: default;
  font-size: 14px;
  color: #c4c4c4;
  z-index: 2;
  padding: 0 10px;
}

/* .activeOption {
  color: #ff6596;
  font-weight: 500;
} */

.activeIncome {
  color: #ffb627;
}

.activeExpense {
  color: #ff6596;
}

.inactive {
  color: rgba(255, 255, 255, 0.6);
}

.separator {
  color: white;
}