.statisticsTab {
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
}


.headerStat {
 font-weight: 400;
 font-size: 30px;
 color: var(--white);
 margin-bottom: 8px;
}


.chartSection {
  width: 280px;
  height: 280px;
  margin-bottom: 32px;
}

.statisticsDashboard {
    height: 120px;
    margin-bottom: 20px;
}


@media (min-width: 768px) {
  .statisticsTab {
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 32px;
}


.headerStat {
 margin-bottom: 20px;
}


.chartSection {
  width: 336px;
  height: 336px;
  margin-bottom: 0;
}

.statisticsDashboard {
    margin-top: 20px;
    height: 50px;
}
}

@media (min-width: 1280px) {
  .statisticsTab {
    padding-top: 32px;
  }

  .headerStat {
     margin-left: 15px;
  }

  .chartSection {
     width: 288px;
     height: 288px;;
  }

  .tableSection {
     width: 395px;
  }
  .statisticsDashboard {
     margin-top: 65px;
  }
  
}
