.statisticsTab {
    width: 100%;
    padding: 20px;
}

.title {
    font-size: 30px;
    font-weight: 400;
    color: #FBFBFB;
    margin-bottom: 20px;
}

.statisticsContent {
    display: flex;
    gap: 32px;
}

.chartWrapper {
    width: 50%;
}

.statsData {
    width: 50%;
}

@media screen and (max-width: 767px) {
    .statisticsTab {
        padding: 15px;
    }

    .title {
        font-size: 24px;
    }

    .statisticsContent {
        flex-direction: column;
        gap: 20px;
    }

    .chartWrapper,
    .statsData {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .statisticsTab {
        padding: 32px;
    }

    .statisticsContent {
        flex-direction: column;
        gap: 24px;
    }

    .chartWrapper,
    .statsData {
        width: 100%;
    }
}

@media screen and (min-width: 1280px) {
    .statisticsTab {
        padding: 40px;
    }
}