.homeTab {
    width: 100%;
    height: 100%;
    position: relative;
}

.addButtonContainer {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 100;
}

@media screen and (max-width: 767px) {
    .addButtonContainer {
        bottom: 20px;
        right: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .addButtonContainer {
        bottom: 32px;
        right: 32px;
    }
}