@import "modern-normalize/modern-normalize.css";
@import "./styles/fonts.css";
@import "./styles/variables.css";
@import "./styles/media.css";
:root {
  --yellow: #ffb627;
  --icon-violet: #734aef;
  --white: #fbfbfb;
  --white-400: rgba(255, 255, 255, 0.4);
  --white-600: rgba(255, 255, 255, 0.6);
  --text-button: #623f8b;
  --dashboard-text: #ff868d;
  --form-color: rgba(255, 255, 255, 0.1);
}
:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Circe", sans-serif;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  padding: 0 40px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}
