.addButton {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 44px;
    height: 44px;
    border-radius: 44px;
    background: linear-gradient(180deg, #FFC727 0%, #9E40BA 61.48%, #7000FF 100%);
    font-size: 24px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.addButton:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.4);
}

.addButton:active {
    transform: scale(0.95);
}

.plusIcon {
    color: #ffffff;
}

/* Мобільна версія (320px і менше) */
@media screen and (max-width: 767px) {
    .addButton {
        width: 50px;
        height: 50px;
        /* На мобільній версії: 320px ширина, отже right = 20px */
        bottom: 20px;
        right: 20px;
    }

    .plusIcon {
        width: 20px;
        height: 20px;
    }
}

/* Планшет (768px - 1279px) */
@media screen and (min-width: 768px) and (max-width: 1279px) {
    .addButton {
        width: 56px;
        height: 56px;
        /* На планшеті: 768px ширина, отже right = 40px */
        bottom: 40px;
        right: 40px;
    }

    .plusIcon {
        width: 22px;
        height: 22px;
    }
}

/* Десктоп (1280px і більше) */
@media screen and (min-width: 1280px) {
    .addButton {
        width: 44px;
        height: 44px;
        /* На десктопі: 1280px ширина, отже right = 40px */
        bottom: 40px;
        right: 40px;
    }

    .plusIcon {
        width: 24px;
        height: 24px;
    }
}